@font-face {
  font-family: 'Aileron Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Aileron'),
        url(../static/fonts/aileron/Aileron-Regular-webfont.woff2) format('woff2'),
        url(../static/fonts/aileron/Aileron-Regular-webfont.woff) format('woff');
}