  // styl property ordering: https://github.com/rossPatton/stylint/blob/master/src/data/ordering.json

@import 'kouto-swiss'
@import '../../globie-library/helpers'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// BOWER LIBRARY

@import 'library/library'

// ******************************************************

// GRID

@import '../../globie-library/grid'

// ******************************************************

// TYPOGRAPHY

@import '../../globie-library/type'
@import 'fonts/aileron'

$font-sans = 'Aileron Regular', font-stack('Arial')
$font-serif = font-stack('Georgia')

$font-size-larger = 1.3rem

$font-leading-basic = 1.35
$font-leading-tighter = 1.15
$font-leading-larger = 1.45

$font-tracking-basic = .15em

html
  font-family: $font-sans
  letter-spacing: $font-tracking-basic

body
  line-height: $font-leading-basic

.font-sans
  font-family: $font-sans

.font-serif
  font-family: $font-serif

.font-larger
  font-size: $font-size-larger

.line-tighter
  line-height: $font-leading-tighter

.line-larger
  line-height: $font-leading-larger

// ******************************************************

// VARIABLES

$color-black = rgb(0, 0, 0)
$color-white = rgb(255, 255, 255)
$color-gray = rgb(108, 108, 108)
$color-gray-transparent = rgba(108, 108, 108, .5)
$color-dark-gray = rgb(204, 204, 204)
$color-blue = rgb(206, 208, 229)

$transition-speed = .7s
$transition-speed-fast = .2s

.color-gray
  color: $color-gray

.color-blue
  color: $color-blue

// ******************************************************

// BASIC

html
  color: $color-black
  background-color: $color-white

img
  height: auto
  max-width: 100%

.mobile-only
  display: initial !important

.desktop-only
  display: none !important

// ******************************************************

// MEDIA QUERIES

$gutter = 16px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 12px
$font-size-extra = 18px
$font-size-large = 15px
$font-size-mid = 14px
$font-size-small = 9px
$font-size-tiny = 8px

grid(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

@import 'responsive/mobile'

@media screen and (min-width: 660px)

  $font-size-basic = 13px
  $font-size-extra = 24px
  $font-size-large = 21px
  $font-size-mid = 17px
  $font-size-small = 10px
  $font-size-tiny = 9px

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

@media screen and (min-width: 720px)

  $gutter = 28px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 14px
  $font-size-extra = 25px
  $font-size-large = 23px
  $font-size-mid = 21px
  $font-size-small = 11px
  $font-size-tiny = 9px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid(680px, $gutter, m)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  @import 'responsive/tablet-portrait'

@media screen and (min-width: 1024px)

  $gutter = 32px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 16px
  $font-size-extra = 28px
  $font-size-large = 24px
  $font-size-mid = 21px
  $font-size-small = 11px
  $font-size-tiny = 9px

  grid(1000px, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  @import 'responsive/tablet-landscape'

@media screen and (min-width: 1280px)

  $gutter = 40px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 21px
  $font-size-extra = 30px
  $font-size-large = 27px
  $font-size-mid = 24px
  $font-size-small = 16px
  $font-size-tiny = 14px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid(1200px, $gutter, l)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  @import 'responsive/laptop'

@media screen and (min-width: 1366px)

  $gutter = 40px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 21px
  $font-size-extra = 36px
  $font-size-large = 30px
  $font-size-mid = 27px
  $font-size-small = 16px
  $font-size-tiny = 14px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid(1300px, $gutter, xl)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  @import 'responsive/desktop'

@media screen and (min-width: 1680px)

  @import 'responsive/hd'
