$header-height = 80px

// SPLASH
#splash
  min-height: calc('100vh - ' + $header-height)

#splash-video-container

  video
    height: calc('100vh - ' + $header-height)

// HOW IT WORKS
#section-how
  .how-illustration-caption
    font-size: 16px

// COUNTDOWN

.font-size-countdown
  font-size: 140px
