$header-height = 80px

#header
  font-size: 14px

// SPLASH
#splash
  min-height: calc('100vh - ' + $header-height)

#splash-video-container

  video
    height: calc('100vh - ' + $header-height)

#splash-logo-holder
  svg
    height: 100px

// HOW IT WORKS
#section-how
  .how-illustration-caption
    font-size: 16px

#connection-ways-icon-row
  .ways-item
    svg
      max-height: 178px

// COUNTDOWN

.font-size-countdown
  font-size: 140px

// DEMOS
.demos-item
  padding: 0 $margin-basic
