$header-height = 80px

#header
  font-size: 12px

#main-content
  padding-top: $header-height

// SPLASH
#splash
  min-height: calc('100vh - ' + $header-height)

// WHAT IS SECTION
.inline-video-player
  box-shadow: 0 18px 27px 1px $color-gray-transparent

  &:hover
    box-shadow: 0 27px 36px 1px $color-gray-transparent

  &.playing
    box-shadow: 0 27px 36px 1px $color-gray-transparent


// HOW IT WORKS
#section-how
  .how-illustration-caption
    font-size: 14px
    svg
      max-width: 60px
      max-height: 60px

#connection-ways-icon-row
  .ways-item
    svg
      max-height: 162px

// DEMOS
.demos-item
  padding: 0 $margin-basic

.demo-thumb
  border-radius: $margin-micro
  max-height: 273px

// FOOTER SIGNUP
#signup-logo-holder
  svg
    height: 110px

#section-footer-signup
  font-size: $font-size-mid
