$header-height = 64px

// SPLASH
#splash
  min-height: calc('100vh - ' + $header-height)

#splash-video-container

  video
    height: calc('100vh - ' + $header-height)

// HOW IT WORKS
#section-how
  .how-illustration-caption
    font-size: 14px
    svg
      max-width: 60px
      max-height: 60px
