// WHAT IS SECTION

#what-is-video-player

  &:hover
    #what-is-video
      box-shadow: 0px 27px 36px 1px $color-gray-transparent

  &.playing
    #what-is-video
      box-shadow: 0px 27px 36px 1px $color-gray-transparent

#what-is-video
  box-shadow: 0px 18px 27px 1px $color-gray-transparent

// HOW IT WORKS
#section-how
  .how-illustration-caption
    font-size: 14px
    svg
      max-width: 60px
      max-height: 60px

// DEMOS
.demo-thumb
  border-radius: $margin-micro
  max-height: 360px

// FOOTER SIGNUP
#signup-logo-holder
  svg
    height: 120px

#section-footer-signup
  font-size: $font-size-mid
