#wp-debug
  position: fixed
  top: 0
  left: 0
  color: red

.logo
  path
    fill: $color-black

// HEADER

#header
  display: none
  background-color: $color-blue
  font-size: 14px

#header-logo-holder
  svg
    height: 1.7rem

// WHAT IS SECTION

#what-is-video
  box-shadow: -2px 17px 45px 5px $color-gray
  border-radius: 8px
  border: 1px solid $color-gray
  transition: all .6s
  &:hover
    box-shadow: -6px 14px 30px 7px $color-gray