#wp-debug
  position: fixed
  top: 0
  left: 0
  color: red

.logo
  path
    fill: $color-black

// HEADER

#header
  display: none
  background-color: $color-blue
  font-size: 14px

#header-logo-holder
  svg
    height: 1.7rem

// SPLASH

#splash-logo-holder
  svg
    height: 4rem