$header-height = 54px

#wp-debug
  position: fixed
  bottom: 0
  right: 0
  color: red

#main-container
  position: relative
  overflow-x: hidden

.logo
  path
    fill: $color-black

html, body
  font-variant-ligatures: none

video
  background-color: $color-blue

.video-wrapper
  overflow: hidden
  display: inline-block
  height: auto

#main-content
  padding-top: $header-height

// HEADER

#header
  display: none

#header-logo-holder
  svg
    height: 1.7rem

#mobile-header
  background-color: $color-blue
  font-size: 14px
  position: fixed
  width: 100%
  z-index: 1000

#menu-toggle
  svg
    height: 13px

.close-menu
  display: none

// MOBILE MENU
#main-content,
#mobile-menu
  transition: transform $transition-speed-fast

#mobile-menu
  position: absolute
  right: 100%
  width: 100%
  height: calc('100vh - ' + $header-height)
  top: $header-height
  max-width: 75vw
  background: $color-dark-gray


.menu-open

  .open-menu
    display: none

  .close-menu
    display: block

  #main-content,
  #mobile-menu
    transform: translateX(75vw)

#mobile-header-logo-holder
  svg
    height: 18px

// SPLASH
#splash
  position: relative
  min-height: calc('100vh - ' + $header-height)

#splash-logo-holder
  margin-top: 4vh
  margin-bottom: 1vh

#splash-video-container
  position: absolute
  top: 0
  z-index: -1
  left: 0
  right: 0

// WHAT IS SECTION

.inline-video-player
  position: relative
  transform: scale(.98)
  transition: all $transition-speed-fast
  box-shadow: 0 4px 8px 0 $color-gray-transparent
  border-radius: 8px
  border: 1px solid $color-gray
  overflow: hidden
  font-size: 0

  &:hover
    box-shadow: 0 7px 14px 0 $color-gray-transparent
    transform: scale(1)

    .inline-video-play-button-svg
      circle
        fill: $color-black
        transition: all $transition-speed-fast

  &.playing
    transform: scale(1)
    box-shadow: 0 7px 14px 0 $color-gray-transparent

    .inline-video-play-trigger
      display: none

  iframe
    width: 100%

.inline-video-play-trigger
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 10
  cursor: pointer

.inline-video-play-button-svg
  height: 30%
  width: 30%
  circle
    fill: $color-gray

// SPLASH

#splash-logo-holder
  svg
    height: 80px

// HOW IT WORKS
#how-row
  display: none

#how-column
  svg
    max-height: 200px
    max-width: 100%
    &.icon-small
      max-height: 50px
      max-width: 100%
      transform: rotate(90deg)

#connection-ways-icon-row
  .ways-item
    svg
      max-height: 200px
      max-width: 100%

// DEMOS
.demo-thumb
  border: 1px solid $color-black
  border-radius: $margin-micro
  width: auto
  max-height: 44.5vw

// FOOTER SIGNUP
#signup-logo-holder
  svg
    height: 50px

#section-footer-signup
  font-size: $font-size-small
  input,
  button
    border-width: 0
    border-radius: 0
    letter-spacing: $font-tracking-basic
  input
    width: 320px
    max-width: 100%
    padding: $margin-tiny $margin-small
    margin-right: $margin-small
    margin-bottom: $margin-small
    border-bottom: 1px solid $color-gray
    &:focus
      outline-color: $color-blue
    &::-webkit-input-placeholder
      color: $color-blue
    &::-moz-placeholder
      color: $color-blue
    &:-ms-input-placeholder
      color: $color-blue
    &:-moz-placeholder
      color: $color-blue
  button
    padding: $margin-tiny $margin-basic
    background-color: $color-black
    border-radius: $margin-micro
    color: $color-white
    transition: background-color $transition-speed-fast
    cursor: pointer
    &:hover
      background-color: $color-blue
    &:focus
      outline: 0

// COUNTDOWN
.font-size-countdown
  font-size: 36px

// MODULES

#section-modules
  h3
    margin-top: $margin-basic
  li
    margin-bottom: .5em

.module-item
  flex-basis: 100%
  max-width: 100%
