#header
  background-color: $color-blue
  font-size: 14px
  display: block

// HOW IT WORKS
#section-how
  .how-illustration-caption
    font-size: 12px
    letter-spacing: .2em

// FOOTER SIGNUP
#section-footer-signup
  input,
  button
    border-radius: $margin-tiny
  input
    width: 500px
    padding: $margin-tiny $margin-small
    margin-right: $margin-small
    margin-bottom: $margin-small
  button
    padding: $margin-tiny $margin-basic

// COUNTDOWN
.font-size-countdown
  font-size: 110px
