$header-height = 49px

#header
  background-color: $color-blue
  font-size: 10px
  display: block

// MOBILE HEADER
#mobile-header
  display: none

// WHAT IS SECTION

#what-is-video-player

  &:hover
    #what-is-video
      box-shadow: 0px 14px 21px 0px $color-gray-transparent

  &.playing
    #what-is-video
      box-shadow: 0px 14px 21px 0px $color-gray-transparent

#what-is-video
  box-shadow: 0px 8px 12px 0px $color-gray-transparent

// HOW IT WORKS
#how-row
  display: block

#how-column
  display: none

#section-how
  .how-item-small
    width: 17%
  .how-item-large
    width: 22%

  .how-illustration-caption
    font-size: 10px
    //letter-spacing: .15em
    svg
      max-width: 50px
      max-height: 50px

// DEMOS
.demo-thumb
  border-radius: $margin-micro
  max-height: 198px

// FOOTER SIGNUP
#signup-logo-holder
  svg
    height: 70px

#section-footer-signup
  font-size: $font-size-mid
  input
    width: 400px
    padding: $margin-tiny $margin-small
    margin-right: $margin-small
    margin-bottom: $margin-small
  button
    padding: $margin-tiny $margin-basic
    border-radius: $margin-micro

// COUNTDOWN
.font-size-countdown
  font-size: 80px

// MODULES
#section-modules
  text-align: center
  h3
    margin-top: 0
