$header-height = 49px

#header
  display: block

// MOBILE HEADER
#mobile-header
  display: none

// HOW IT WORKS
#section-how
  .how-item-small
    width: 17%
  .how-item-large
    width: 22%

  .how-illustration-caption
    font-size: 10px
    letter-spacing: .15em
    svg
      max-width: 50px
      max-height: 50px

// FOOTER SIGNUP
#section-footer-signup
  input,
  button
    border-radius: $margin-tiny
  input
    width: 400px
    padding: $margin-tiny $margin-small
    margin-right: $margin-small
    margin-bottom: $margin-small
  button
    padding: $margin-tiny $margin-basic

// COUNTDOWN
.font-size-countdown
  font-size: 80px
