$header-height = 54px

#header
  position: fixed
  z-index: 900
  width: 100%
  background-color: $color-blue
  font-size: 8px
  display: block

#main-content
  padding-top: $header-height

// MOBILE HEADER
#mobile-header
  display: none

// SPLASH
#splash
  min-height: calc('100vh - ' + $header-height)

#splash-logo-holder
  svg
    height: 90px

// WHAT IS SECTION

.inline-video-player
  box-shadow: 0 8px 12px 0 $color-gray-transparent

  &:hover
    box-shadow: 0 14px 21px 0 $color-gray-transparent

  &.playing
    box-shadow: 0 14px 21px 0 $color-gray-transparent


// HOW IT WORKS
#how-row
  display: block

#how-column
  display: none

#section-how
  .how-item-small
    width: 17%
  .how-item-large
    width: 22%
  .how-illustration-caption
    font-size: 10px
    svg
      max-width: 40px
      max-height: 40px

// DEMOS
.demo-thumb
  border-radius: $margin-micro
  max-height: 198px

// FOOTER SIGNUP
#signup-logo-holder
  svg
    height: 70px

#section-footer-signup
  font-size: $font-size-mid
  input
    width: 400px
    padding: $margin-tiny $margin-small
    margin-right: $margin-small
    margin-bottom: $margin-small
  button
    padding: $margin-tiny $margin-basic
    border-radius: $margin-micro

// COUNTDOWN
.font-size-countdown
  font-size: 80px

// MODULES
#section-modules
  text-align: center
  h3
    margin-top: 0
