$header-height = 55px

#header
  background-color: $color-blue
  font-size: 11px
  display: block 

// SPLASH
#splash
  min-height: calc('100vh - ' + $header-height)

#splash-logo-holder
  svg
    height: 80px

#splash-video-container

  video
    height: calc('100vh - ' + $header-height)

// WHAT IS SECTION

#what-is-video-player
  box-shadow: 0 12px 16px 1px $color-gray-transparent

  &:hover
    box-shadow: 0 21px 27px 1px $color-gray-transparent

  &.playing
    box-shadow: 0 21px 27px 1px $color-gray-transparent

// HOW IT WORKS
#section-how
  .how-illustration-caption
    font-size: 12px
    // letter-spacing: .2em

#connection-ways-icon-row
  .ways-item
    max-width: 22%
    flex-basis: 22%
    svg
      max-width: none
      max-height: 136px

// DEMOS
.demos-item
  padding: 0 $margin-basic

.demo-thumb
  border-radius: $margin-micro
  max-height: 205px

// FOOTER SIGNUP
#signup-logo-holder
  svg
    height: 90px

#section-footer-signup
  font-size: $font-size-mid
  input
    width: 500px
    padding: $margin-tiny $margin-small
    margin-right: $margin-small
    margin-bottom: $margin-small
  button
    padding: $margin-tiny $margin-basic
    border-radius: $margin-micro

// COUNTDOWN
.font-size-countdown
  font-size: 110px

// MODULES
.module-item
  flex-basis: auto
  max-width: none
  width: 17vw
  max-width: 285px
  align-content: flex-start
